<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete </title>
</head>
<body>
<h1>Xoá thành phố</h1>
<h2>Bạn chắc chứ?</h2>
<p>
    <a href="/">Trở lại danh sách các thành phố</a>
</p>
<form th:action="@{/delete-city}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tên:</td>
            <td th:text="${city.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete city"></td>
        </tr>
    </table>
</form>
</body>
</html>